name: "Publish to npm"
description: 'Publish package to npmjs.com'

permissions:
  contents: read
  id-token: write  # Required for OIDC

inputs:
  package-tag:
    description: 'What to tag this package'
    required: false
    default: ""

  version:
    description: 'Semver version string'
    required: true

runs:
  using: 'composite'
  steps:
        - name: Version Package
          working-directory: dist
          shell: bash
          run: npm version --new-version "${{ inputs.version }}" --no-git-tag-version

        - name: Publish on NPM with tag
          if: ${{ inputs.package-tag != '' }}
          shell: bash
          working-directory: dist
          run: npm publish --verbose --tag ${{ inputs.package-tag }} --access public

        - name: Publish on NPM without tag
          if: ${{ inputs.package-tag == '' }}
          shell: bash
          working-directory: dist
          run: npm publish --verbose --access public
