# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Merge to Main

permissions:
  contents: read

on:
  push:
    branches: ['main']

jobs:
  test:
    name: 'E2E Test'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node and npm
        uses: ./.github/workflows/common/setup-node-and-npm
        with:
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: e2e-test
        uses: ./.github/workflows/common/e2e-test
