# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Release
run-name: Cut Release ${{github.event.inputs.release-version || github.ref_name}}
concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: false
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+' # ex. v1.0.0
      - 'v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+' # ex. v1.1.0-rc1
      - 'v0.0.1' # used for testing only
      - 'v0.0.1-rc[0-9]+' # used for testing only

env:
  NEW_RELEASE_TAG: ${{github.ref_name}}
  TEST_RUN: ${{startsWith(github.ref_name, 'v0.0.1')}}

jobs:
  publish-npm:
    name: Publish NPM Package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node and npm
        uses: ./.github/workflows/common/setup-node-and-npm
        with:
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: build
        run: npm run build

      - name: Full Release on NPM @latest
        if: env.TEST_RUN != 'true' && steps.is-full-release.outputs.is-full-release == 'true'
        uses: ./.github/workflows/common/publish-to-npm
        with:
          version: "${{ env.NEW_RELEASE_TAG }}"
          package-tag: 'latest'

      - name: Release Candidate on NPM
        if: env.TEST_RUN != 'true' && steps.is-full-release.outputs.is-full-release != 'true'
        uses: ./.github/workflows/common/publish-to-npm
        with:
          version: "${{ env.NEW_RELEASE_TAG }}"

